
<div class="card mb-3">
    <img src="~/assets/image/lukstay.jpg" class="card-img-top">
    <div class="card-body">
        <h5 class="card-title">About Me!</h5>
        <p class="card-text">
            How can we not talk about family when family's all that we got?
            Everything I went through, you were standing there by my side
            And now you gon' be with me for the last ride
        </p>
    </div>
</div>
