@model IEnumerable<Tag>
@{
    ViewBag.Title = "Home Page";
}
@foreach (var element in Model)
{
    <span class="badge badge-info">
        <a href="@Url.Action("DetailTags", "Tag", new { id = element.Id})">
            @element.Name
        </a>
    </span>
}